<H2>Importing Libraries</H2>

In [1]:
#Import Libraries

import pandas as pd
import numpy as np
import os

In [2]:
#Create path

path =r'C:\Users\supri\Desktop\Supriya\DataAnalysis\Project\Data Immersion\Achievement 1-2\Instacart_Basket_Analysis'

In [5]:
#Import data

df_ords = pd.read_csv(os.path.join(path,'02 Data','Prepared Data','orders_checked1.csv'),index_col = False)

df_ords_prior = pd.read_csv(os.path.join(path,'02 Data','Original Data','orders_products_prior.csv'),index_col = False)

In [6]:
# Check the output

df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [7]:
# Check the output

df_ords.head()

,Unnamed: 0.1,Unnamed: 0,order_id,user_id,eval_set,order_number,orders_days_of_week,order_hour_of_day,days_since_prior_order,first_time_customers
0,0,0,2539329,1,prior,1,2,8,NaN,True
1,1,1,2398795,1,prior,2,3,7,15.0,False
2,2,2,473747,1,prior,3,3,12,21.0,False
3,3,3,2254736,1,prior,4,4,7,29.0,False
4,4,4,431534,1,prior,5,4,15,28.0,False

In [8]:
# Check the size

df_ords_prior.shape

(32434489, 4)

In [9]:
# Check the size

df_ords.shape

(3421083, 10)

In [10]:
#Inner merge dataframes
df_merged_large = df_ords.merge(df_ords_prior , on ='order_id' , how= 'inner' ,indicator = True)

In [11]:
df_merged_large.head()

,Unnamed: 0.1,Unnamed: 0,order_id,user_id,eval_set,order_number,orders_days_of_week,order_hour_of_day,days_since_prior_order,first_time_customers,product_id,add_to_cart_order,reordered,_merge
0,0,0,2539329,1,prior,1,2,8,NaN,True,196,1,0,both
1,0,0,2539329,1,prior,1,2,8,NaN,True,14084,2,0,both
2,0,0,2539329,1,prior,1,2,8,NaN,True,12427,3,0,both
3,0,0,2539329,1,prior,1,2,8,NaN,True,26088,4,0,both
4,0,0,2539329,1,prior,1,2,8,NaN,True,26405,5,0,both

In [12]:
# Check value counts on '_merge' column

df_merged_large['_merge'].value_counts()

_merge
both          32434489
left_only            0
right_only           0
Name: count, dtype: int64

In [13]:
# Export data as pickle

df_merged_large.to_pickle(os.path.join(path, '02 Data' , 'Prepared Data' , 'orders_products_combined.pkl'))